.games {
  &__item {
    max-width: 600px;

    & img {
      width: 100%;
      aspect-ratio: 16/9;
      border-top-left-radius: var(--rounded);
      border-top-right-radius: var(--rounded);
    }
  }
}
