.games {
  &__item {
    min-width: 400px;
    max-width: 500px;

    flex: 1;
    & img {
      width: 100%;
      aspect-ratio: 16/9;
      border-top-left-radius: var(--rounded);
      border-top-right-radius: var(--rounded);
    }
  }
}
