@import '../core/mixins.scss';

.home {
  &__section-1 {
    min-height: calc(100vh - 80px);
    // background: rgb(168, 37, 37);
    // background: linear-gradient(
    //   45deg,
    //   var(--primary) 0%,
    //   var(--primary-hover) 5%,
    //   var(--background) 50%
    // );

    div {
      padding-top: 30px;

      h1 {
        line-height: 1.5;
      }

      p {
        font-size: 22px;
        font-weight: 500;
      }
    }

    &__logo {
      height: 100px;
    }

    &__social {
      cursor: pointer;
      font-weight: 500;
      transition: transform 200ms;
      img {
        width: 100px;
      }

      &:hover {
        transform: rotate(30deg);
      }
    }

    &__next {
      cursor: pointer;
      position: relative;
      font-size: 22px;
      width: max-content;
      padding-bottom: 5px;

      &::before {
        content: '';
        height: 2px;
        width: 0%;
        background-color: var(--primary);
        position: absolute;
        bottom: 0px;
        left: 0px;
        transition: width 200ms;
      }

      &:hover::before {
        width: 100%;
      }

      i {
        animation: bounce 0.5s ease infinite alternate;
      }
    }
  }

  &__section-2 {
    margin-top: 80px;
    padding-bottom: 80px;

    &__item {
      @include md() {
        flex-direction: column;
        gap: 5px;
      }
      img {
        aspect-ratio: 16/9;
        max-width: 300px;
      }

      &__text {
        font-size: 18px;
        font-weight: 500;
        width: max-content;

        &:hover {
          color: var(--primary-hover);

          i {
            transition: transform 200ms ease-in-out;
            transform: translateX(10px);
          }
        }
      }
    }
  }

  &__section-3 {
    margin-top: 80px;
    padding-top: 80px;

    & > div {
      background-color: rgba(#1985a1, 0.5);
      border-radius: var(--rounded);
    }

    &__container {
      @include md() {
        flex-direction: column;
      }
      &__icon {
        font-size: 50px;
      }
    }
  }
}

@keyframes bounce {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-10px);
  }
}
