@import '../core/mixins.scss';
@import '../core/functions.scss';

.show_game {
  &__image {
    height: 300px;
    width: 100%;
    object-fit: cover;
    object-position: top;
  }

  &__logo {
    height: 30px;
  }

  &__icon {
    font-size: 30px;
  }

  &__section {
    padding: spacePx(8);
    background-color: var(--gray-light);
    border-radius: var(--rounded);

    @include md() {
      padding: spacePx(2);
    }

    & h4 {
      background-color: transparent !important;
    }
  }
}
