@import '../core/functions';
@import '../core/mixins';

.sidebar {
  min-width: 250px;
  padding: spacePx(5);
  border-right: var(--border);
  height: 100vh;
  @include md() {
    min-width: 20px;
  }
}

.admin-menu-item {
  & > span {
    border-radius: var(--rounded);
    padding-inline: spacePx(5);
    padding-block: spacePx(3);

    @include md() {
      padding: spacePx(1);

      & > span {
        display: none;
      }
    }

    &:hover {
      background-color: var(--background-hover);
    }
  }

  &.up-current > span {
    background-color: var(--background-hover);
  }
  &__icon {
    font-size: 25px;
  }
}

.admin-main {
  overflow: auto;
  height: 100vh;
}
