@import '../core/mixins.scss';
@import '../core/functions.scss';

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  padding-inline: 30px;
  padding-top: 10px;
  padding-bottom: 5px;
  width: 100%;
  position: fixed;
  top: 0px;
  background-color: var(--background);
  border-bottom: var(--border);
  z-index: 10;

  &__navigation {
    @include md() {
      display: none;
    }
    &--mobile {
      cursor: pointer;
      display: none;
      font-size: 30px;
      @include md() {
        display: block;
      }
    }
  }

  &__burger {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background-color: var(--background);
    height: 100%;
    z-index: 5;
    display: none;
    padding-top: 100px;

    &.show {
      display: flex;
    }
  }

  &__logo {
    height: 50px;
  }

  &__link {
    @extend h5;
    text-transform: capitalize;
    position: relative;
    width: max-content;
    padding-block: spacePx(1);
    padding-inline: spacePx(2);
    border-radius: var(--rounded);
    cursor: pointer;
    text-overflow: ellipsis;
    overflow: hidden;
    overflow-wrap: normal;

    &.up-current {
      background-color: var(--background-hover);
    }

    &:hover {
      background-color: var(--background-hover);
    }
  }

  &__dropdown {
    @extend h5;
    text-transform: capitalize;
    position: relative;
    width: max-content;
    padding-block: spacePx(1);
    padding-inline: spacePx(2);
    border-radius: var(--rounded);
    span {
      cursor: pointer;

      i {
        font-size: 15px;
      }
    }

    &:hover {
      background-color: var(--background-hover);
    }

    &:hover &__content {
      display: flex;
    }

    &__content {
      display: none;
      position: absolute;
      background-color: var(--background);
      padding: spacePx(5);
      border-radius: var(--rounded);
      width: 100%;
      border: var(--border);
      margin-top: spacePx(1);
      left: 0px;
    }
  }
}

.app_main {
  padding-block: 80px;
}

.footer {
  border-top: var(--border);

  & > div {
    @include md() {
      flex-direction: column;
    }
  }

  &__logo {
    height: 40px;
  }

  &__brand-icon {
    font-size: 28px;
    transition: transform 200ms;
    &:hover {
      transform: rotate(30deg);
    }
  }

  &__link-container {
    @include md() {
      justify-content: start;
      margin-top: spacePx(10);
    }
    &__link {
      color: rgba($color: var(--text), $alpha: 0.5);

      &:hover {
        color: var(--text);
      }
    }
  }
}
