@import '../core/functions';

.toast {
  padding-inline: spacePx(3);
  padding-block: spacePx(1);
  background-color: var(--success);
  border: var(--border);
  border-radius: var(--rounded);
  width: auto;
}
