@import '../core/functions.scss';

.autocomplete {
  border: var(--border);
  border-radius: var(--rounded);
  padding: 0.5rem 1rem;

  &__item {
    height: max-content;
    display: flex;
    align-items: center;

    &__icon {
      color: var(--error);
      width: 10px;
      height: 10px;
      margin-left: spacePx(1);
      cursor: pointer;
    }
  }

  &__input {
    position: relative;
    min-width: 200px;

    input {
      background: transparent;
      color: white;
      outline: none;
      border: none;
      height: 100%;
    }

    &__list {
      width: 100%;
      position: absolute;
      background-color: var(--background);
      border-radius: var(--rounded);
      border: var(--border);

      &__item {
        padding-inline: spacePx(2);
        padding-block: spacePx(1);
        cursor: pointer;
        &:hover {
          background-color: var(--background-hover);
        }
      }
    }
  }
}
