.card {
  border: 2px solid var(--gray-200);
  border-radius: var(--rounded);
  border: var(--border);
  padding: spacePx(5) spacePx(9);
  transition: background-color 200ms ease-in-out;

  &.clickable {
    cursor: pointer;
    &:hover {
      border-color: var(--primary);
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }
  }

  &.no-padding {
    padding: 0px;
  }
}
