@import '../core/functions.scss';

.comment {
  &__item {
    border: var(--border);
    border-radius: var(--rounded);
    padding: spacePx(3);

    &__icon {
      cursor: pointer;
      padding-inline: spacePx(2);
      padding-block: spacePx(1);
      border-radius: var(--rounded);

      &:hover {
        background-color: var(--background-hover);
      }
    }

    &__response {
      border-top: var(--border);
      &__btn {
        cursor: pointer;
      }
    }
  }
}

.response {
  border-bottom: var(--border);
  padding-top: spacePx(3);
  padding-inline: spacePx(5);
  padding-bottom: spacePx(5);
}
