:root {
  --ck-color-toolbar-background: var(--background) !important;
  --ck-border-radius: var(--rounded) !important;
  --ck-color-text: var(--text) !important;
  --ck-font-face: var(--font-family) !important;
  --ck-color-toolbar-border: var(--secondary) !important;
  --ck-color-base-background: var(--background) !important;
  --ck-color-base-active: var(--primary) !important;
  --ck-color-base-active-focus: var(--primary-hover) !important;
  --ck-focus-ring: 1px solid #666666 !important;
  --ck-color-base-border: var(--secondary) !important;
  --ck-color-button-default-hover-background: var(--background-hover) !important;
  --ck-color-button-default-active-background: var(--background-hover) !important;
  --ck-color-button-on-color: var(--secondary) !important;
  --ck-color-button-on-background: var(--secondary) !important;
  --ck-color-base-focus: var(--background-hover) !important;
  --ck-color-button-on-hover-background: var(--background-hover) !important;
  --ck-color-button-on-active-background: var(--background-hover) !important;
  --ck-focus-outer-shadow: none !important;
  --ck-color-list-button-on-text: var(--text) !important;
  --ck-style-panel-button-label-background: var(--background) !important;
  --ck-style-panel-button-hover-label-background: var(--background-hover) !important;
  --ck-style-panel-button-hover-border-color: var(--background) !important;
  --ck-spacing-large: 0.5em !important;
  .ck-content {
    font-family: var(--font-family);
  }
}
