.pagination {
  max-width: 500px;
  &__page-button {
    border: none;
    color: var(--text);

    &:hover {
      background-color: var(--background-hover);
    }

    &--active {
      color: white;
      background-color: var(--primary);
    }
  }
}
