.pagination {
  max-width: 500px;
  &__page-button {
    border: none;

    &:hover {
      background-color: var(--background-hover);
    }

    &--active {
      background-color: var(--background-hover);
    }
  }
}
